<div class="col-12 col-md-8 m-auto dashboard p-0 p-lg-5 align-items-center justify-content-center my-5">
  <div class="text-center menu m-auto p-4">
    <img class="img-fluid" width="150px" [src]="'assets/Logo.png'" alt="Logo">
    <h1 class="text-uppercase fw-bold mt-2">Dashboard</h1>
    <div class="row align-items-center justify-content-center gap-5">
    </div>
  </div>
  <div *ngIf="userInfos" class="list-games text-center row align-items-center justify-content-center flex-column">
    <h3 class="mt-4">Liste des parties : </h3>
    <div class="my-5 badge bg-dark col-auto p-2" *ngIf="userInfos && userInfos.games.as_staff.length == 0"><h5>Vous n'êtes pas encore administrateur d'une Partie</h5></div>
    <button  [routerLink]="['/create-game']" class="col-auto btn mt-4">🆕 Créer une nouvelle partie</button>
    <div class="my-4 list-game col-12 col-lg-8 p-3" *ngFor="let game of userInfos.games.as_staff">
      <div class="d-flex align-items-center justify-content-center">
        <h3>{{game.name}}</h3>
      </div>
      <hr>
      <p>identifiant : {{game.id}}</p>
      <p>Status : {{getStatusText(game.status)}}</p>
      <div class="row p-1 align-items-center justify-content-center gap-4">
        <button class="btn col-12 col-md-auto" [routerLink]="['/game',game.id]"><i class="fas fa-trash me-1"></i>🗡️ Details de la partie</button>
      </div>
    </div>
  </div>
</div>
