<div class="edit-game-form p-5 row animate__animated animate__fadeIn">
  <form #loginF="ngForm" (ngSubmit)="loginF.form.valid && onSubmit()">
    <div class="form-title d-flex flex-column justify-content-center align-items-center">
      <img class="img-fluid m-5" width="250px" [src]="'assets/Logo.png'" alt="Logo">
      <h1 class="text-uppercase fw-bold text-center mb-4">Modifier la partie</h1>
    </div>
    <div class="form-group">
      <input type="text" id="name" name="name" placeholder="Nom de la partie"
             [(ngModel)]="editGameForm.name" required
             class="form-control"
             #name="ngModel">
    </div>
    <div class="alert alert-danger p-2 animate__animated animate__fadeIn"
         role="alert"
         *ngIf="name.errors && loginF.submitted">
      le champ ne doit pas être vide
    </div>
    <div class="form-group text-center">
      <button class="btn" type="submit">Modifier la Partie</button>
    </div>
  </form>
</div>
