<div class="row game align-items-start justify-content-center m-auto px-0 py-5 p-lg-5" *ngIf="gameDetail">

  <div class="col-12 col-lg-7">
    <div class="game-infos text-center p-4">
      <img class="img-fluid m-3" width="100px" [src]="'assets/Logo.png'" alt="Logo">
      <h1>
        {{gameDetail.name}}
      </h1>
      <div class="content my-4">
        <p>Identifiant :  {{gameDetail.id}}</p>
        <p>Nombre de personnes en vie: <span>{{gameDetail.players.alive}}</span></p>
        <p>Nombre de personnes totales: <span>{{gameDetail.players.total}}</span></p>
        <p>Statut :  {{getStatusText(gameDetail.status)}}</p>
      </div>
      <div class="row align-items-center justify-content-center gap-3 mt-4">
        <button *ngIf="gameDetail.status == 0" class="btn col-auto" (click)="startGame(gameDetail.id)"><i
          class="fas fa-arrow-alt-circle-up me-1"></i>🏁 Lancer la partie
        </button>

        <button class="btn col-auto" (click)="deleteGame(gameDetail.id)"><i class="fas fa-trash me-1"></i>🗑️
          <span class="ms-2">Supprimer la partie</span>
        </button>
        <button class="btn col-auto" [routerLink]="['/edit-game',gameDetail.name,gameDetail.id]" aria-current="page" href="#">
          ️️️✏️
          <span class="ms-2">Modifier</span>
        </button>

      </div>
    </div>

    <h2 class="mt-5 mb-3 text-center">Liste des joueurs : </h2>
    <div class="table-responsive">
      <table class="table table-dark table-striped">
        <thead>
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Vivant</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of listPlayers">
          <td>{{ player.first_name }}</td>
          <td>{{ player.last_name }}</td>
          <td>{{ player.is_alive }}</td>
          <td><button (click)="killAdmin(gameDetail.id,player.id)" class="btn">Tuer</button></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="col-12 col-lg-5 row flex-column align-items-center">
    <h2 class="mt-5 mb-3 text-center">Liste des messages : </h2>
    <button class="btn col-auto m-auto" [routerLink]="['/message',gameDetail.id]"><i
      class="fas fa-stop-circle me-1"></i>💬 <span class="ms-2">Faire une annonce</span>
    </button>
    <div class="d-flex mt-5 px-5 col-auto flex-column align-items-center scrollable-list" id="scrollableList" (scroll)="onScroll($event)">
      <div class="my-4 list-game p-3 col-12"
           *ngFor="let message of listMessage">
        <div class="d-flex align-items-center justify-content-between"><p class="m-0">{{message.title}}</p>
          <span>{{message.date | date}}</span></div>
        <hr>
        <p>{{message.body}}</p>
      </div>
    </div>
  </div>

</div>

