<div class="row game col-12 col-md-6 align-items-center justify-content-center m-auto p-5" *ngIf="gameDetail">

  <div class="game-infos text-center p-4">
    <h1>
      {{gameDetail.name}}
    </h1>
    <div class="content mt-2">
      <p>Identifiant :  {{gameDetail.id}}</p>
      <p>Nombre de personnes en vie: <span>{{gameDetail.players.alive}}</span></p>
      <p>Nombre de personnes totales: <span>{{gameDetail.players.total}}</span></p>
      <p>Statut :  {{getStatusText(gameDetail.status)}}</p>
    </div>
    <div class="d-flex align-items-center justify-content-center gap-3">
      <button *ngIf="gameDetail.status == 0" class="btn col-12 col-md-auto" (click)="startGame(gameDetail.id)"><i
        class="fas fa-arrow-alt-circle-up me-1"></i>🏁 Lancer la partie
      </button>

      <button class="btn col-12 col-md-auto" (click)="deleteGame(gameDetail.id)"><i class="fas fa-trash me-1"></i>🗑️
        Supprimer la partie
      </button>
      <button class="btn" [routerLink]="['/edit-game',gameDetail.name,gameDetail.id]" aria-current="page" href="#">️️️✏️
        Modifier
      </button>

    </div>

  </div>


  <h2 class="mt-5 mb-3 text-center">Liste des messages : </h2>
  <button class="btn col-12 col-md-auto" [routerLink]="['/message',gameDetail.id]"><i
    class="fas fa-stop-circle me-1"></i>💬 Faire une annonce
  </button>
  <div class="content row">
    <div class="my-4 list-game m-auto col-12 col-lg-8 p-3"
         *ngFor="let message of listMessage">
      <div class="d-flex align-items-center justify-content-between"><p class="m-0">{{message.title}}</p>
        <span>{{message.date | date}}</span></div>
      <hr>
      <p>{{message.body}}</p>
    </div>
  </div>
</div>

