<div class="import-csv-form p-0 py-5 p-lg-5 row animate__animated animate__fadeIn">
  <div class="form-title d-flex flex-column justify-content-center align-items-center">
    <img class="img-fluid m-5" width="150px" [src]="'assets/Logo.png'" alt="Logo">
    <h1 class="text-uppercase fw-bold text-center mb-4">Importer liste Joueurs (CSV)</h1>
    <div class="mb-3">
      <input #fileInput class="form-control" type="file" (change)="onFileSelected($event)" accept=".csv">
    </div>
    <button class="btn" (click)="uploadFile(fileInput)">Envoyer</button>
  </div>
</div>
