<div class="row col-12 col-md-8 col-lg-6 m-auto dashboard p-5 align-items-center justify-content-center my-5">
  <div class="d-flex align-items-center justify-content-center">
    <img class="img-fluid rounded-3 zoom-image" width="175" src="https://is5-ssl.mzstatic.com/image/thumb/Purple122/v4/8e/ab/49/8eab49e0-8696-566d-8eaf-914f7799bcf3/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/230x0w.webp" alt="">
  </div>
  <hr class="my-5">
  <h1 class="animate-text text-center">KILLER INSA</h1>
  <h2 class="animate-text text-center mt-4">Héritage d'Hades</h2>
</div>
